:root {
    --main-color: #D6BD98;
    --white-color: #1c1c1c;
    --text-color: #77777;
    --bg-navbar: #677D6A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font: var(--text-color);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
html {
    font-family: system-ui;
    font: var(--text-color);
    font-size: 16;
}

/* Navbar */
.navbar {
    background-color: var(--bg-navbar);
}

/* container wrapper for content*/

.container_content {
    position: relative;
    top: 72px;
    width: 100%;
    height: calc(100vh - 72px);

}


/* post adding */
.wrapper__post__adding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.wrapper__post__adding .post__adding {
    width: 100%;
    min-width: 500px;
    padding: 20px;
    background-color: var(--white-color);
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.wrapper__post__adding .adding__post__form {
    min-width: calc(500px - 30px);
    min-height: 300px;
}

.wrapper__post__adding input,
.wrapper__post__adding textarea{
    background-color: var(--white-color);
}



